@font-face
{
   font-family: "monaco";
   src: url("monaco.ttf");
}

body {
    background-color: aquamarine;
}

button {
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    margin-bottom: 2cm;
    font-family: 'monaco';
    font-size: 3.2em;
    padding: 15px 25px;
  }