
@font-face
{
   font-family: "monaco";
   src: url("monaco.ttf");
}


body{
    background: linear-gradient(to right, rgb(175, 50, 50), rgb(109, 78, 83));
  }

h1 {
  font-family: 'monaco';
  text-align: center;
  font-size: 30px;
}