
@font-face
{
   font-family: "monaco";
   src: url("monaco.ttf");
}


body{
    background: linear-gradient(to right, rgb(175, 50, 50), rgb(109, 78, 83));
  }

h1 {
  font-family: 'monaco';
  font-size: 35px ;
  margin-top: 50px;
  margin-left: 20cm;
  border: double;
  border-width: 0.3cm;
  border-color: rgb(240, 5, 5);
  border-radius: 15px;
  color:aliceblue ;
  display: inline-block;
}